.card-slider-conatiner{
    /* width:80%; */
    height:100%;
    display:flex;
    justify-content : center;
    align-items : center;
    /* position:absolute; */
}

.main-slider-contianer{
    width:100%;
    /* height:305px; */
    position:relative;
    display:flex;
    align-items :center;
}
.slider{
    width:100%;
    height:100%;
}
/* both icon display above ".main-slider-contianer" */
.slider-icon.left , .slider-icon.right{
    position:absolute;
    box-shadow: 5px 5px 1.25rem 0px rgb(0 0 0 / 12%);
    cursor:pointer;
    background-color: white;
    padding: 10px;
    font-weight: bolder;
}
.slider-icon.left{
    left: 0px;
    z-index: 100;
}
.slider-icon.right{
    right:0;
}

.slider-card{
    display:inline-block;
    /* width:15rem; */
    padding: 20px;
    /* height:350px; */
    background:white;
    border-radius:10px;
    /* margin-left:5px; */
    /* margin-right:5px; */
    /* box-shadow: 5px 5px 1.25rem 0px rgb(0 0 0 / 12%); */
    position: relative;
}
 /* add nowrap for to display card in horizontally */
.slider{
    width:100%;
    height:100%;
    white-space:nowrap;
}
 /* problem is that , slider component overflow outside to fixed that we'll just add overflow */
.slider{
    width:100%;
    height:100%;
    white-space:nowrap;
    overflow-x:scroll;
}
 /* set overflowx scroll effect */
.slider::-webkit-scrollbar{
    display:none;
}
.slider{
    width:100%;
    height:100%;
     /* safari scrollbar width removed */
    scrollbar-width:none;
}

.slider{
    width:100%;
    height:100%;
    white-space:nowrap;
    overflow-x:scroll;
     /* safari scrollbar width removed */
    scrollbar-width:none;
    /* scroll-smooth */
    scroll-behavior : smooth;
}

.slider-card-title{
      font-weight: 500;
      white-space: pre-wrap;
      font-size: 0.625rem;
      padding: 0.5rem;
      margin: 0px 0px 0.313rem 0.625rem;
}

.slider-card-description{
        opacity: 0.5;
        font-size: 0.625rem; 
        margin: 0px 0px 0.313rem 0.625rem;
}

